@font-face {
    font-family: Roboto;
    src: url("./assets/Font/Roboto-VariableFont_wdth.ttf");
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto;
}



.selection-page-cover{
    width: 100%;
    height: fit-content;
    position: relative;
}

.navbar{
    width: 100%;
    height: 60px;
    background-color: #FFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px 0 15px;
    color: #1f1f1f;
    position: sticky;
    top: 0;
}


.nav-left{
    width: 250px;
    height: 100%;
    /* background-color: aliceblue; */
    display: flex;
    align-items: center;
    gap: 5px;
}

img.docs-img{
    height: 40px;
}

.burger-div{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.burger-div:hover{
    background-color: rgb(218, 220, 224);
}

.nav-left > p{
    font-size: 24px;
}


.nav-mid{
    width: 650px;
    height: 46px;
    background-color: #f0f4f9;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    gap: 10px;
}

.nav-mid:focus-within{
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}

.search-icon-div{
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 300ms;
    cursor: pointer;
}

.search-icon-div:hover{
    background-color: rgb(218, 220, 224);
}

input.search-input{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 18px;
}


.nav-right{
    width: 250px;
    height: 100%;
    /* background-color: aliceblue; */
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
}

.dots-menu{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 300ms;
    cursor: pointer;
}

.dots-menu:hover{
    background-color: rgb(218, 220, 224);
}

.profile-img-div{
    width: 41px;
    height: 41px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    border: 1px solid transparent;
}

@keyframes border {
    from {border: 1px solid transparent;}
    to {border: 1px solid rgb(218, 220, 224);}
}

.profile-img-div:hover{
    animation: border 300ms 1 forwards linear;
}

.profile-img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgb(218, 220, 224);
}





.templates-section{
    width: 100%;
    height: 320px;
    background-color: #f1f3f4;
    display: flex;
    justify-content: center;
}

.templates-section-div{
    width: 1150px;
    height: 100%;
    /* background-color: #1f1f1f; */
    padding: 10px 0 5px;
}

.templates-section-top{
    width: 100%;
    min-height: 40px;
    /* background-color: aliceblue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.templates-section-top-options{
    width: 250px;
    height: 100%;
    /* background-color: yellowgreen; */
    display: flex;
    align-items: center;
    gap: 10px;
}

.template-gallery-wrap{
    width: fit-content;
    height: 36px;
    border-right: 1px solid rgb(218, 220, 224);
}

.template-gallery{
    height: 100%;
    width: fit-content;
    display: flex;
    gap: 10px;
    align-items: center;
    border-radius: 6px;
    padding: 0 10px;
    cursor: pointer;
}

.template-gallery > p{
    font-size: 14px;
    letter-spacing: 0.5px;
    color: #414549;
}

.template-gallery:hover{
    background-color: rgba(0, 0, 0, .2);
}

#up-down{
    font-size: 22px;
    color: #414549;
}


.three-dots-div{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.three-dots-div:hover{
    background-color: rgba(0, 0, 0, .2);
}




.templates-section-docs{
    width: 100%;
    height: calc(100% - 40px);
    /* background-color: pink; */
    display: flex;
    align-items: center;
    gap: 15px;
}

.document-card{
    width: 150px;
    height: 100%;
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.document-page{
    width: 100%;
    height: 75%;
    border: 1px solid rgb(218, 220, 224);
    border-radius: 3px;
    background-color: white;
    cursor: pointer;
}

.document-page:hover{
    border: 1px solid #0b57d0;
}

p#doc-name{
    font-size: 14px;
    color: #1f1f1f;
    font-weight: 500;
    margin-left: 5px;
}

p#doc-type{
    font-size: 14px;
    color: #414549;
    font-weight: 300;
    margin-left: 5px;
}

.blank-doc-img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}










/* DOCUMENT PAGE */

.document-page-wrap{
    width: 100%;
    min-height: 100vh;
    background-color: white;
}

.docs-navbar{
    width: 100%;
    height: 65px;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.docs-navbar-left{
    width: 470px;
    height: 100%;
    /* background-color: pink; */
    display: flex;
    align-items: center;
    gap: 8px;
}

.docs-navbar-left-img{
    min-width: 40px;
    height: 50px;
    background-image: url(./assets/docs_2020q4_48dp.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
    /* background-color: red; */
}

.docs-navbar-left-container{
    width: calc(100% - 40px);
    height: 100%;
    /* background-color: beige; */
    padding-top: 10px;
}

.container-top{
    width: 100%;
    height: 45%;
    /* background-color: yellow; */
    display: flex;
}

.doc-name{
    width: 180px;
    height: 100%;
    /* background-color: #0b57d0; */
    display: flex;
    align-items: center;
}

.doc-name > p{
    font-size: 18px;
    color: #777;
}

.online-status{
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
}

.online-status > p{
    font-size: 13px;
    color: #777;
}



.container-bottom{
    width: 100%;
    height: 55%;
    /* background-color: red; */
    display: flex;
}

.container-bottom-div{
    width: fit-content;
    height: 24px;
    border-radius: 5px;
    padding: 0 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.container-bottom-div > p{
    font-size: 14px;
    color: #414549;
}

.container-bottom-div:hover{
    background-color: rgb(218, 220, 224);
}



.docs-navbar-right{
    width: 410px;
    height: 100%;
    /* background-color: pink; */
    display: flex;
    align-items: center;
    gap: 10px;
}

.circle-hover{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.circle-hover:hover{
    background-color: rgb(218, 220, 224);
}

#nav-right-icons{
    font-size: 24px;
    color: #414549;
}

.video-icon-div{
    width: fit-content;
    height: 40px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0  15px;
    gap: 5px;
    cursor: pointer;
}

.video-icon-div:hover{
    background-color: rgb(218, 220, 224);
}

.share-div{
    width: 100px;
    height: 40px;
    display: flex;
    border-radius: 30px;
    background-color: #c2e7ff;
    cursor: pointer;
    overflow: hidden;
}

.share-div-text{
    width: 70%;
    height: 100%;
    border-right: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 10px;
}

.share-div-text:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

.share-div-text > p{
    font-size: 14px;
    color: #001d35;
    letter-spacing: 0.6px;
}

.share-div-arrow{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.share-div-arrow:hover{
    background-color: rgba(0, 0, 0, 0.1);
}