*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.selection-page-cover{
    width: 100%;
    height: fit-content;
    position: relative;
}

.navbar{
    width: 100%;
    height: 60px;
    background-color: #FFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    color: #1f1f1f;
    position: sticky;
    top: 0;
}


.nav-left{
    width: 250px;
    height: 100%;
    /* background-color: aliceblue; */
    display: flex;
    align-items: center;
    gap: 5px;
}

img.docs-img{
    height: 40px;
}

.burger-div{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.burger-div:hover{
    background-color: rgb(218, 220, 224);
}

.nav-left > p{
    font-size: 24px;
}


.nav-mid{
    width: 600px;
    height: 46px;
    background-color: #f0f4f9;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    gap: 10px;
}

.search-icon-div{
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 300ms;
}

.search-icon-div:hover{
    background-color: rgb(218, 220, 224);
}

input.search-input{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 18px;
}


.nav-right{
    width: 250px;
    height: 100%;
    /* background-color: aliceblue; */
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
}

.dots-menu{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 300ms;
    cursor: pointer;
}

.dots-menu:hover{
    background-color: rgb(218, 220, 224);
}

.profile-img-div{
    width: 41px;
    height: 41px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    border: 1px solid transparent;
}

@keyframes border {
    from {border: 1px solid transparent;}
    to {border: 1px solid rgb(218, 220, 224);}
}

.profile-img-div:hover{
    animation: border 300ms 1 forwards linear;
}

.profile-img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgb(218, 220, 224);
}





.templates-section{
    width: 100%;
    height: 350px;
    background-color: #f1f3f4;
}